@mixin addSortbuttons() {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background: #b2aaf1;
  color: white;
  &:hover {
    background: #bfbbe9;
  }
}

@mixin checkDeleteButtons() {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background: #b2aaf1;
  color: white;
  &:hover {
    background: #bfbbe9;
  }
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin desktop() {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
