* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c2b6e0;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  min-height: 100vh;
}

header {
  font-size: 30px;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 10px;
  color: white;
}

h2 {
  color: white;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todoInput {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

#button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background: #b2aaf1;
  color: white;
}

#button:hover {
  background: #bfbbe9;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo {
  margin: 0.5rem;
  font-size: 1.5rem;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  flex: 1;
  background: white;
  padding: 20px;
}

.completeBtn {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background: #b2aaf1;
  color: white;
}
.completeBtn:hover {
  background: #bfbbe9;
}
.fa-check {
  pointer-events: none;
}
.trashBtn {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background: #b2aaf1;
  color: white;
}
.trashBtn:hover {
  background: #bfbbe9;
}

.fa-trash {
  pointer-events: none;
}
.todo-item {
  padding: 0.7rem;
}

#toDoList {
  min-width: 30%;
  list-style: none;
  background: rgb(194, 172, 211);
  padding: 30px;
  margin: 20px;
  border-radius: 2%;
}

#restoreList {
  min-width: 30%;
  list-style: none;
  background: rgb(194, 172, 211);
  padding: 30px;
  margin: 20px;
  border-radius: 2%;
}
